
:root {
    --bg-gradient: linear-gradient(
        40deg,
        hsl(240deg 100% 20%) 0%,
        hsl(230deg 57% 33%) 10%,
        hsl(214deg 52% 42%) 20%,
        hsl(199deg 54% 49%) 29%,
        hsl(188deg 73% 54%) 39%,
        hsl(180deg 100% 50%) 49%,
        hsl(180deg 76% 63%) 58%,
        hsl(179deg 51% 64%) 69%,
        hsl(179deg 29% 63%) 79%,
        hsl(178deg 11% 61%) 89%,
        hsl(0deg 2% 57%) 100%
      );
}
.main-container {
    
    background-image: var(--bg-gradient)
}
.choice-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 85vh;
    
  
   
}

.box {
    width: 200px;
    height: 200px;
    background: var(--bg-white);
    color: black;
    padding: 8px;
    display: grid;
    place-content: center;
    font-weight: 1000;
    text-align: center;
    border-radius: 50%;
}

/* @keyframes bounce {
    0% {
      transform: translateY(0px);
      box-shadow: var(--shadow-elevation-low);
    }
    50% {
        box-shadow: var(--shadow-elevation-low);
    }
    100% {
      transform: translateY(
        var(--bounce-offset)
      );
      box-shadow: var(--shadow-elevation-low);
    }
  } */

  @keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	} 
}

  .box {
    /* animation:
      bounce alternate infinite
      cubic-bezier(.2, .65, .6, 1); */
      border: solid black 0.0px;

      animation: float 10s ease-in-out infinite;
  }
  .box:hover {
      background-color: black;
      color: var(--bg-white)
  }
  .box.one {
    --bounce-offset: -20px;
    animation-duration: 1500ms;
  }
  .box.two {
    --bounce-offset: -30px;
    animation-duration: 2000ms;
  }
  .box.three {
    --bounce-offset: -40px;
    animation-duration: 1800ms;
  }
  /* .box.one {
    --bounce-offset: -20px;
    animation-duration: 500ms;
  }
  .box.two {
    --bounce-offset: -30px;
    animation-duration: 1000ms;
  }
  .box.three {
    --bounce-offset: -40px;
    animation-duration: 800ms;
  } */


.link {
    text-decoration: none;
    color: black;
}
.link:hover {
    color: rgb(66, 66, 175, 0.7);
}

