:root {
  --bg-gradient: linear-gradient(
        40deg,
        hsl(240deg 100% 20%) 0%,
        hsl(230deg 57% 33%) 10%,
        hsl(214deg 52% 42%) 20%,
        hsl(199deg 54% 49%) 29%,
        hsl(188deg 73% 54%) 39%,
        hsl(180deg 100% 50%) 49%,
        hsl(180deg 76% 63%) 58%,
        hsl(179deg 51% 64%) 69%,
        hsl(179deg 29% 63%) 79%,
        hsl(178deg 11% 61%) 89%,
        hsl(0deg 2% 57%) 100%
      );
}

.main-container {
  background-image: var(--bg-gradient);
}

.choice-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 85vh;
}

.box {
  width: 225px;
  height: 225px;
  background: var(--bg-white);
  color: black;
  padding: 8px;
  display: -ms-grid;
  display: grid;
  place-content: center;
  font-weight: 1000;
  text-align: center;
  border-radius: 50%;
}

@-webkit-keyframes float {
  0% {
    -webkit-box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
            box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  50% {
    -webkit-box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    -webkit-transform: translatey(-20px);
            transform: translatey(-20px);
  }
  100% {
    -webkit-box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
            box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}

@keyframes float {
  0% {
    -webkit-box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
            box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  50% {
    -webkit-box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    -webkit-transform: translatey(-20px);
            transform: translatey(-20px);
  }
  100% {
    -webkit-box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
            box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}

.box {
  border: solid black 0.0px;
  -webkit-animation: float 10s ease-in-out infinite;
          animation: float 10s ease-in-out infinite;
}

.box:hover {
  background-color: black;
  color: var(--bg-white);
}

.box.one {
  --bounce-offset: -20px;
  -webkit-animation-duration: 1500ms;
          animation-duration: 1500ms;
}

.box.two {
  --bounce-offset: -30px;
  -webkit-animation-duration: 2000ms;
          animation-duration: 2000ms;
}

.box.three {
  --bounce-offset: -40px;
  -webkit-animation-duration: 1800ms;
          animation-duration: 1800ms;
}

.link {
  text-decoration: none;
  color: black;
}

.link:hover {
  color: rgba(66, 66, 175, 0.7);
}
/*# sourceMappingURL=Choose.module.css.map */