

.choice-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 85vh;
    
  
   
}

.box {
    width: 200px;
    height: 200px;
    background: var(--bg-white);
    color: black;
    padding: 8px;
    display: grid;
    place-content: center;
    font-weight: 1000;
    text-align: center;
    border-radius: 50%;
}

@keyframes bounce {
    0% {
      transform: translateY(0px);
      box-shadow: var(--shadow-elevation-low);
    }
    50% {
        box-shadow: var(--shadow-elevation-low);
    }
    100% {
      transform: translateY(
        var(--bounce-offset)
      );
      box-shadow: var(--shadow-elevation-low);
    }
  }

  .box {
    animation:
      bounce alternate infinite
      cubic-bezier(.2, .65, .6, 1);
  }
  .box.one {
    --bounce-offset: -20px;
    animation-duration: 500ms;
  }
  .box.two {
    --bounce-offset: -30px;
    animation-duration: 1000ms;
  }
  .box.three {
    --bounce-offset: -40px;
    animation-duration: 800ms;
  }

  
.link {
    text-decoration: none;
    color: black;
}
.link:hover {
    color: rgb(66, 66, 175, 0.7);
}

