

.main-container {
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(89, 88, 88);
}

.title {
    color: var(--bg-white);
    text-shadow: var(--txt-shadow-light);
    -webkit-text-stroke: 0.3px black; 
    font-size: 2rem;

}

.note-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem;
    background-color: rgb(89, 88, 88);

}