


.main-container {
    height: 100vh;
    background-image: linear-gradient(
        45deg,
        hsl(169deg 11% 19%) 0%,
        hsl(185deg 19% 22%) 9%,
        hsl(195deg 25% 26%) 18%,
        hsl(205deg 26% 32%) 27%,
        hsl(210deg 25% 37%) 36%,
        hsl(204deg 31% 39%) 45%,
        hsl(199deg 37% 41%) 55%,
        hsl(194deg 44% 42%) 64%,
        hsl(193deg 41% 39%) 73%,
        hsl(194deg 34% 34%) 82%,
        hsl(195deg 27% 30%) 91%,
        hsl(196deg 18% 25%) 100%
      );
}
.title {
    font-size: 1.5rem;
    color: var(--bg-white)
}
.game-container {
    height: 81vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.pushable {
    background: var(--btn-bg-color-top);
    border-radius: 12px;
    border: none;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    margin-top: 2rem;
    margin: .8rem;
  }
  .front {
    display: block;
    padding: 12px 42px;
    border-radius: 12px;
    font-size: 1.25rem;
    font-weight: 900;
    background: var(--btn-bg-color-btm);
    color: white;
    transform: translateY(-6px);
  }

  .pushable:active .front {
    transform: translateY(-2px);
  }

