
.game-container {
    height: 81vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.pushable {
    background: var(--btn-bg-color-top);
    border-radius: 12px;
    border: none;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    margin-top: 2rem;
    margin: .8rem;
  }
  .front {
    display: block;
    padding: 12px 42px;
    border-radius: 12px;
    font-size: 1.25rem;
    font-weight: 900;
    background: var(--btn-bg-color-btm);
    color: white;
    transform: translateY(-6px);
  }

  .pushable:active .front {
    transform: translateY(-2px);
  }

