

.images-container {
    padding-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.label {
    margin: 2rem;
}

.input {
    margin: 2rem;
}

.loading {
    color: var(--bg-white);
    text-align: center;
}