
.container {
    background-color: black;
    color: var(--bg-white);
}

.images {
    max-width: 500px;
    max-height: 500px;
    box-shadow: var(--shadow-elevation-medium)
}

.loading {
    text-align: center;
}

.button {
    color: white;
    background-color: rgb(100, 100, 100);
}

.button:hover {
    cursor: pointer;
}

.span {
    position: absolute;
    margin: 8px;
    background-color: black;
    color: var(--bg-white);
    height: 2rem;
    width: 5rem;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.innerSpan {
    margin-left: 1rem;;
}