

 
.card {
    
    background-color: var(--bg-white);
    box-shadow: var(--dark-shadow-elevation-medium);
    border-radius: 13px;
    width: 350px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}