

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100vw;
    height: 15vh;
    padding: 10px;
    background-color: var(--bg-white);
}

.title {
    font-size: 1.6rem;
    word-spacing: 1rem;
}

.my-small-slice {
    padding-right: 35rem;
    padding-left: 1rem;
    
}

.choices {
    font-size: 1.25rem;
}

.link {
    text-decoration: none;
    color: black;
}
.link:hover {
    color: rgb(66, 66, 175, 0.7);
}