@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');


:root {
    --font-color-reg: #fff;
    --bg-white: rgba(235, 234, 234, 0.9);
    --btn-bg-color-top: #240370;
    --btn-bg-color-btm: rgba(21, 28, 165, 0.8);

    --txt-shadow-light: 1px 3px 0 #969696, 1px 13px 5px #aba8a8;

    --shadow-color: 286deg 36% 56%;
  --shadow-elevation-low:
    0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    0.4px 0.8px 1px -1.2px hsl(var(--shadow-color) / 0.34),
    1px 2px 2.5px -2.5px hsl(var(--shadow-color) / 0.34);
  --shadow-elevation-medium:
    0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.36),
    0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.36),
    2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.36),
    5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.36);
  --shadow-elevation-high:
    0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    1.5px 2.9px 3.7px -0.4px hsl(var(--shadow-color) / 0.34),
    2.7px 5.4px 6.8px -0.7px hsl(var(--shadow-color) / 0.34),
    4.5px 8.9px 11.2px -1.1px hsl(var(--shadow-color) / 0.34),
    7.1px 14.3px 18px -1.4px hsl(var(--shadow-color) / 0.34),
    11.2px 22.3px 28.1px -1.8px hsl(var(--shadow-color) / 0.34),
    17px 33.9px 42.7px -2.1px hsl(var(--shadow-color) / 0.34),
    25px 50px 62.9px -2.5px hsl(var(--shadow-color) / 0.34);
}
* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  margin: 0;
  background-color: #3f3f3f;
  background-image: linear-gradient(
  40deg,
  hsl(240deg 100% 20%) 0%,
  hsl(230deg 57% 33%) 10%,
  hsl(214deg 52% 42%) 20%,
  hsl(199deg 54% 49%) 29%,
  hsl(188deg 73% 54%) 39%,
  hsl(180deg 100% 50%) 49%,
  hsl(180deg 76% 63%) 58%,
  hsl(179deg 51% 64%) 69%,
  hsl(179deg 29% 63%) 79%,
  hsl(178deg 11% 61%) 89%,
  hsl(0deg 2% 57%) 100%
);

}